@import url(styles/header.css);
@import url(styles/footer.css);
@import url(styles/texto.css);
@import url(styles/section.css);
@import url(styles/galeria.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
img {
  max-width: 100%;
}
body {
  list-style-type: none;
  max-width: 1600px;
  margin: 0 auto;
}
