h5,
h6 {
  color: #80005d;
  text-align: center;
  font-family: Roboto, serif;
}

h5 {
  font-size: 1.75rem;
}
h6 {
  font-size: 1.5rem;
}
.section-galeria {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1600px;
}

.section-galeria .b-denuncie {
  margin: 0 auto;
}

.carrosel {
  display: flex;
  gap: 6px;
  overflow-x: auto;
  /* Permite rolagem horizontal */
  scroll-behavior: smooth;
  /* Suaviza a rolagem */
  margin: 20px;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  /* Melhora experiência em dispositivos móveis */
}

.img-carrosel {
  flex-shrink: 0;
  width: 220px;
  height: 300px;
  object-fit: cover;
  margin: 2px;
}

.carrosel-inner {
  display: flex;
}


html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Impede barra de rolagem horizontal */
}

.galeria .fotos-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.galeria .fotos-galeria img{
  flex-shrink: 0;
    width: 220px;
    height: 300px;
    object-fit: cover;
    margin: 2px;
}
@media (max-width: 768px) {
  .img-carrosel {
    width: 100px;
    height: 140px;
  }
    .galeria .fotos-galeria img {
      width: 100px;
      height: 160px;
      object-fit: cover;
      padding: 0px;
    }
}

/* aqui o codigo da foto */